.title
{
	background-color:white;
	padding: 15px;
	border-bottom: 1px solid #d5f1f2;
}
.title-value
{
	background-color:white;
	padding: 15px;
	border-bottom: 1px solid #d5f1f2;
}
.row-adj
{
	padding-left: 20px;
	
}
body
{
	background:url(https://securepics.ebaystatic.com/aw/pics/cmp/ds3/imgbg.jpg) repeat 0 0 #f8f8f8;
}
.mn
{
	padding: 15px;
    box-shadow: 0px 2px 5px 2px white;
    background-color: #87692cab!important;

}
.bt
{
	color: #000000a8;
    background-color: #ffffff;
    border-color: #fffefc4f;
}
.bt:hover
{
	color: #000000a8;
    background-color: #ffffff;
    border-color: #fffefc4f;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.in
{
	border: none;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.16);
}
.ts
{
padding: 10px!important;
box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 5px 0 rgba(0,0,0,0.12)!important;
}
@media only screen and (min-width: 1300px) {
	.in
	{
		border: none;
		width: 500px !important; 
		border-radius: 5px;
		border: 1px solid rgba(0,0,0,0.16);
	}
}
@media only screen and (max-width: 600px) {
	th,td
	{
		padding: 6px!important;
	}
}
  